:root {
  /* Base colors: Main project palette*/
  /* Primary */
  --blue-600: hsl(185, 75%, 39%);
  --navy-950: hsl(229, 23%, 23%);
  --gray-500: hsl(227, 10%, 46%);
  /* Neutral */
  --gray-100: hsl(225, 10%, 92%);
  --white: hsl(0, 0%, 100%);

  /* Purpose colors: Used for specific elements */
  --body-bg: var(--blue-600);
  --card-bg: var(--white);
  --card-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  --card-avatar-bg: var(--white);
  --card-avatar-border: var(--white);
  --text-primary: var(--navy-950);
  --text-secondary: var(--gray-500);
  --text-tertiary: var(--gray-100);
  --divider-color: var(--gray-100);

  /* Fonts */
  --font-family-body: "Kumbh Sans", sans-serif;
  --font-size-lg: 1.125rem;
  --font-size-md: 0.875rem;
  --font-size-sm: 0.7rem;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font-family: var(--font-family-body);

  background-image: url(../assets/bg-pattern-top.svg),
    url(../assets/bg-pattern-bottom.svg);
  background-repeat: no-repeat;
  background-size: 800px, 800px;
  background-position: right 50vw bottom 40vh, left 50vw top 40vh;
  background-color: var(--body-bg);
}
.main-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.profile-card {
  width: 100%;
  max-width: 340px;
  background-color: var(--card-bg);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: var(--card-shadow);
  text-align: center;
}

.profile-card__header {
  position: relative;
  height: 140px;
  background-image: url("../assets/bg-pattern-card.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.profile-card__avatar {
  width: 96px;
  height: 96px;
  background-color: var(--card-avatar-bg);
  border: 5px solid var(--card-avatar-border);
  border-radius: 50%;
  transform: translateY(90%);
  display: inline-block;
  overflow: hidden;
}
.profile-card__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}
/* User data */
.profile-card__name {
  display: inline-block;
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  color: var(--text-primary);
}
.profile-card__age {
  margin-left: 0.3rem;
  font-size: var(--font-size-lg);
  color: var(--text-secondary);
}
.profile-card__location {
  font-size: var(--font-size-md);
  color: var(--text-secondary);
  padding: 0.7rem 0 1.5rem;
}
/* Card footer with social media stats */
.profile-card__footer {
  width: 100%;
  padding: 1.5rem 1.5rem;
  border-top: 1px solid var(--divider-color);
}
.profile-card__stats {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.profile-card__stats-item {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.profile-card__number {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  color: var(--text-primary);
  letter-spacing: 1px;
}
.profile-card__label {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  color: var(--text-secondary);
  letter-spacing: 1.5px;
}
/* Footer */
.footer {
  padding: 1rem;
  font-size: var(--font-size-sm);
  text-align: center;
  color: var(--text-primary);
}
.footer__attribution-link {
  text-decoration: none;
  color: var(--text-primary);
  transition: color 0.3s ease;
}
.footer__attribution-link:hover,
.footer__attribution-link:focus {
  color: var(--text-tertiary);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  body {
    background-size: 900px, 900px;
    background-position: right 50vw bottom 45vh, left 50vw top 45vh;
  }
}
@media screen and (min-width: 1024px) {
  body {
    background-size: 1000px, 1000px;
    background-position: right 50vw bottom 45vh, left 50vw top 45vh;
  }
}
/* Utilities */
.sr-only {
  /* Visually hides element but keeps it accesible for screen readers */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
