:root {
  /* Base colors: Main project palette*/
  /* Primary */
  --blue-600: hsl(185, 75%, 39%);
  --navy-950: hsl(229, 23%, 23%);
  --gray-500: hsl(227, 10%, 46%);
  /* Neutral */
  --gray-100: hsl(225, 10%, 92%);
  --white: hsl(0, 0%, 100%);

  /* Purpose colors: Used for specific elements */
  --clr-bg-body: var(--blue-600);

  --clr-bg-card: var(--white);

  --clr-user-name: var(--navy-950);
  --clr-border-avatar: var(--white);
  --clr-user-details: var(--gray-500);
  --clr-stats-number: var(--navy-950);
  --clr-stats-label: var(--gray-500);
  --clr-border-top-line: var(--gray-100);

  --clr-attribution-link: var(--gray-100);
  --clr-hover-attribution: var(--gray-500);

  /* Fonts */
  --ff-primary: "Kumbh Sans", sans-serif;
}
*,
*:before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font-family: var(--ff-primary);

  background-image: url(../assets/bg-pattern-top.svg),
    url(../assets/bg-pattern-bottom.svg);
  background-repeat: no-repeat;
  background-position: right 35vw bottom 50vh, left 30vw top 50vh;
  background-color: var(--clr-bg-body);
}
main {
  /* Pushes footer to the bottom */
  flex-grow: 1;

  /* Center the card horizontally and vertically*/
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem;
}
.profile-card {
  width: 100%;
  max-width: 360px;
  background-color: var(--clr-bg-card);
  border-radius: 8px;
  overflow: hidden;
}
.profile-card__header {
  position: relative;
  height: 140px;
  background-image: url("../assets/bg-pattern-card.svg");
}

.profile-card__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px; /* Adds space between items */
}
.profile-card__photo {
  background-color: var(--clr-border-avatar);
  border: 5px solid var(--clr-border-avatar);
  border-radius: 50%;
  transform: translateY(-50%);
}
.profile-card__details {
  display: flex;
  align-items: baseline;
  gap: 10px;
  margin-top: -3rem; /* Compensate photo translate */
}
.profile-card__name {
  font-size: 1.15rem;
  font-weight: 900;
  color: var(--clr-user-name);
}
.profile-card__age {
  font-size: 1.2rem;
  color: var(--clr-user-details);
}
.profile-card__location {
  padding-bottom: 1.5rem;
  font-size: 0.9rem;
  letter-spacing: 1px;
  color: var(--clr-user-details);
}

.profile-card__footer {
  padding: 1.6rem 0;
  border-top: 1px solid var(--clr-border-top-line);
}
.profile-card__stats-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  list-style: none;
  text-align: center;
}
.profile-card__stats-list p {
  font-size: 1.15rem;
  font-weight: 900;
  line-height: 1.5;
  color: var(--clr-stats-number);
}
.profile-card__stats-list span {
  display: block;
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--clr-stats-label);
  letter-spacing: 1.5px;
}

.footer__attribution {
  padding: 1rem;
}
.footer__attribution {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  color: var(--clr-attribution-link);
}
.footer__attribution a {
  text-decoration: none;
  color: var(--clr-attribution-link);
  transition: color 0.1s ease;
}
.footer__attribution a:hover,
.footer__attribution a:focus {
  color: var(--clr-hover-attribution);
}

@media screen and (min-width: 768px) {
  body {
    background-position: right 50vw bottom 50vh, left 50vw top 50vh;
  }
}
.sr-only {
  /* Visually hides element but keeps it accesible for screen readers */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
