:root {
  /* Colors */
  --color-primary-red: hsl(0, 78%, 62%);
  --color-primary-cyan: hsl(180, 62%, 55%);
  --color-primary-orange: hsl(34, 97%, 64%);
  --color-primary-blue: hsl(212, 86%, 64%);
  --color-neutral-dark: hsl(234, 12%, 34%);
  --color-neutral-light: hsl(212, 6%, 44%);
  --color-neutral-white: hsl(0, 0%, 100%);

  /* Shadows */
  --shadow-card: 0 10px 30px var(--color-neutral-light);

  /* Fonts */
  --font-family-base: "Poppins", sans-serif;
  --font-size-base: 15px;
  --font-weight-thin: 200;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  background-color: var(--color-neutral-white);
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 2rem 1rem;
}
.intro-section {
  max-width: 540px;
  text-align: center;
}
.intro__title {
  font-size: 1.5rem;
  font-weight: var(--font-weight-thin);
  color: var(--color-neutral-light);
  margin-bottom: 1.5rem;
  opacity: 0.9;
}
.intro__title--bold {
  font-weight: var(--font-weight-semibold);
  color: var(--color-neutral-dark);
  display: block;
}
.intro__text {
  font-size: 0.9rem;
  color: var(--color-neutral-light);
  line-height: 1.4;
}

/* Cards */
.cards-section {
  display: grid;
  place-items: center;
  padding: 2rem 0;
}

.card {
  position: relative; /* for top borders */
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--color-neutral-white);
  box-shadow: var(--shadow-card);
}
/* top border cards */
.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
}
.card--supervisor::before {
  background-color: var(--color-primary-cyan);
}
.card--team::before {
  background-color: var(--color-primary-red);
}
.card--karma::before {
  background-color: var(--color-primary-orange);
}
.card--calculator::before {
  background-color: var(--color-primary-blue);
}

.card__title {
  font-size: 1.2rem;
  font-weight: var(--font-weight-semibold);
  color: var(--color-neutral-dark);
}
.card__text {
  width: 30ch;
  margin-top: 1rem;
  font-size: 0.9rem;
  color: var(--color-neutral-light);
  line-height: 1.5;
  margin-bottom: 2rem;
}
.card__icon {
  align-self: flex-end;
  width: 55px;
  max-width: 100%;
  height: auto;
}

/* Footer */
.footer {
  padding: 1rem;
  text-align: center;
}
.footer__attribution {
  font-size: 0.8rem;
  color: var(--color-neutral-dark);
}
.footer__attribution-link {
  text-decoration: none;
  color: var(--color-neutral-dark);
  cursor: pointer;
  transition: color 0.2s ease;
}
.footer__attribution-link:hover,
.footer__attribution-link:focus {
  color: var(--color-primary-blue);
}

@media (min-width: 375px) {
  .intro-section {
    padding: 0 2rem;
  }
}
@media (min-width: 48rem) {
  .cards-section {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 25px;
    padding: 3rem 2rem;
  }
  .card--supervisor {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .card--team {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  .card--karma {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .card--calculator {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}
@media (min-width: 64rem) {
  .cards-section {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-width: 1110px;
  }
  .card {
    max-width: 340px;
  }
  .card--supervisor {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }
  .card--team {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  .card--karma {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .card--calculator {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }
}
