:root {
  /* Colors */
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  /* text */
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  /* neutral text */
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);
  --white: hsl(0, 0%, 100%);
  /* dividers */
  --light-grayish-blue: hsl(240, 5%, 91%);

  /* Gradient body background*/
  --body-gradient: linear-gradient(var(--soft-violet), var(--soft-blue));

  /* Fonts */
  --ff-body: "Kumbh Sans", sans-serif;
  --fs-base: 12px;

  --fs-sm: clamp(0.9rem, 1rem + 0.28vw, 1.2rem);
  --fs-md: clamp(1.167rem, 1.107rem + 0.28vw, 1.333rem);
  --fs-lg: clamp(1.35rem, 1.15rem + 0.95vw, 1.75rem);
  --fs-xl: clamp(1.5rem, 1.25rem + 1.1vw, 2.25rem);

  --fw-regular: 400;
  --fw-bold: 700;

  /* Spacings */
  --spacing-sm: clamp(0.875rem, 0.82rem + 0.25vw, 1rem);
  --spacing-md: clamp(1rem, 0.9rem + 0.45vw, 1.25rem);
  --spacing-lg: clamp(1.25rem, 1.1rem + 0.7vw, 1.75rem);

  /* Gaps */
  --gap-sm: clamp(0.875rem, 0.82rem + 0.25vw, 1rem);
  --gap-md: clamp(1rem, 0.9rem + 0.45vw, 1.25rem);
  --gap-lg: clamp(1.25rem, 1.1rem + 0.7vw, 1.75rem);

  /* Border Radius */
  --border-radius-sm: 12px;
  --border-radius-md: 20px;
  --border-radius-lg: 24px;

  /* Box shadows */
  --shadow-subtle: 0 2px 4px rgba(0, 0, 0, 0.1);
  --shadow-medium: 0 4px 6px rgba(0, 0, 0, 0.15);
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: var(--fs-base);
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--ff-body);
  background: var(--body-gradient);
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
picture {
  display: block;
}
img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: min(30rem, 90vw);

  padding: var(--spacing-lg);
  padding-top: 0;

  background-color: var(--white);
  border-radius: var(--border-radius-md);
  box-shadow: var(--shadow-medium);
}
.card__image-container {
  position: relative; /* for card__image */
  width: 200px;
  height: 130px;
}
.card__image-bg {
  background-image: url("../assets/bg-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top right;
}
.card__image {
  width: 110%;
  transform: translate(-10%, -55%);
}
.card__image--box {
  display: none;
}
.accordion {
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
  width: 100%;
  height: auto;
}
.accordion__title {
  font-size: var(--fs-xl);
  font-weight: var(--fw-bold);
  line-height: 1.6;
  text-align: center;
}
.accordion__question {
  position: relative; /* for icon arrow down*/
  list-style: none;

  font-size: var(--fs-md);
  font-weight: var(--fw-regular);
  color: var(--very-dark-grayish-blue);

  border-bottom: 1px solid var(--light-grayish-blue);
  padding-block-end: var(--spacing-md);
  transition: color 0.1s ease;
}
/* Icon arrow down with rotate transform */
.accordion__question::after {
  content: url("../assets/icon-arrow-down.svg");
  position: absolute;
  right: 0;
  transform: rotate(0);
}
.accordion__item[open] .accordion__question {
  font-weight: var(--fw-bold);
  border-bottom: none;
  padding-block-end: 0;
}
.accordion__item[open] .accordion__question::after {
  transform: rotate(180deg);
}
.accordion__answer {
  font-size: var(--fs-md);
  font-weight: var(--fw-regular);
  line-height: 1.4;
  color: var(--dark-grayish-blue);
  border-bottom: 1px solid var(--light-grayish-blue);
  padding: var(--spacing-md);
  padding-left: 0;
}

/* Footer with attributions */
.footer {
  padding: var(--spacing-md);
  text-align: center;
}
.footer__attribution {
  font-size: var(--fs-sm);
  color: var(--white);
}
.footer__attribution-link {
  text-decoration: none;
  color: var(--white);
  transition: color 0.2s ease;
}
.footer__attribution-link:hover,
.footer__attribution-link:focus-visible {
  color: var(--very-dark-desaturated-blue);
}

/* Media Queries */
@media (min-width: 768px) {
  .card {
    position: relative; /* for image--box w/absolute position */
    flex-direction: row;
    align-items: stretch;
    max-width: 60rem;
    padding: 0;
  }
  .card__image-container {
    width: 50%;
    height: 100%;
  }
  .card__image-bg {
    width: 100%;
    height: 500px;

    background-image: url("../assets/bg-pattern-desktop.svg");
    background-size: auto;
    background-position: 110% 65%;

    clip-path: inset(0 0 0 0); /* for card__image */

    border-top-left-radius: var(--border-radius-lg);
    border-bottom-left-radius: var(--border-radius-lg);
  }
  .card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-15%, 20%);
  }
  .card__image--box {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, 100%);
    transition: transform 0.3s ease;
  }
  .card__image--box:hover {
    transform: translate(-70%, 100%);
  }
  .accordion {
    position: relative; /* for accordion__cursor */
    align-self: center;
    width: 50%;
    padding: var(--spacing-lg);
    cursor: none;
  }
  .accordion__cursor {
    position: absolute;
    width: 20px;
    height: 20px;
    background: url("../assets/hand-pointer-512.png") no-repeat center center;
    background-size: contain;
    background-color: var(--white);

    pointer-events: none;
    z-index: 10;

    opacity: 0;
    transition: opacity 0.1s ease;
  }
  .accordion:hover .accordion__cursor {
    opacity: 1;
  }

  .accordion__item:hover .accordion__question {
    color: var(--soft-red);
  }
}
