:root {
  --purple-700: hsl(257, 40%, 49%);
  --magenta-400: hsl(300, 69%, 71%);

  --clr-bg-body: var(--purple-700);
  --clr-text-primary: #fff;
  --clr-text-link-register: var(--purple-700);
  --clr-bg-link-register: #fff;
  --clr-hover-bg-link-register: var(--magenta-400);
  --clr-hover-social-link: var(--magenta-400);

  --ff-heading: "Poppins", sans-serif;
  --ff-body: "Open Sans", sans-serif;
  --ff-link-register: "Poppins", sans-serif;
}
*:before,
*:after,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-body);

  background-image: url("../assets/images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--clr-bg-body);
}
/* Layout */
.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  max-width: 1440px;
  padding: 1rem;
  margin: auto;
}
main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  margin-bottom: 3.5rem;
}
.header__logo {
  width: 130px;
}
/* Introductory Section with image and text content */
.intro-section__image {
  display: block;
  max-width: 100%;
}
.intro-section__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 3rem 0;
  text-align: center;
  color: var(--clr-text-primary);
}
.intro-section__title {
  width: 19ch;
  font-family: var(--ff-heading);
  line-height: 1.5;
}
.intro-section__description {
  width: 33ch;
  line-height: 1.5;
}

.intro-section__link-register {
  width: 230px;
  padding: 0.7rem;
  font-family: var(--ff-link-register);
  text-align: center;
  text-decoration: none;
  border-radius: 24px;
  background-color: var(--clr-bg-link-register);
  color: var(--clr-text-link-register);
  box-shadow: 4px 5px 8px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease;
}
.intro-section__link-register:hover,
.intro-section__link-register:focus {
  background-color: var(--clr-hover-bg-link-register);
  color: var(--clr-text-primary);
  cursor: pointer;
}

/* Footer with social media menu nav */
.footer {
  display: flex;
  justify-content: center;
}
.social-menu {
  list-style: none;
  display: flex;
  gap: 10px;
}
.social-menu li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}
.social-menu svg {
  width: 25px;
  height: 25px;
  fill: #fff;
  transition: fill 0.3s ease-in-out;
}
.social-menu li a:hover {
  border: 1px solid var(--clr-hover-social-link);
}
.social-menu a:hover svg {
  fill: var(--clr-hover-social-link);
}

@media (min-width: 768px) {
  .page-container {
    padding: 2rem;
  }
  .intro-section__title {
    font-size: 2rem;
  }
  .intro-section__description {
    width: 50ch;
  }
}

@media (min-width: 992px) {
  body {
    background-image: url("../assets/images/bg-desktop.svg");
  }

  .intro-section {
    display: flex;
    align-items: flex-start;
    gap: 3rem;
  }
  .intro-section__image-container {
    width: 50%;
  }
  .intro-section__content {
    align-items: flex-start;
    text-align: left;
  }

  .footer {
    justify-content: flex-end;
  }
}
