:root {
  /* Base colors: Main project palette*/
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);
  --white: hsl(0, 0%, 100%);

  /* Purpose colors: Used for specific elements */
  --main-bg: var(--slate-300);
  --card-bg: var(--white);
  --card-title-color: var(--slate-900);
  --card-text-color: var(--slate-500);
  --card-shadow-color: 2px 2px 8px rgba(0, 0, 0, 0.15);

  --footer-bg: var(--slate-300);
  --footer-text-color: var(--slate-500);
  --footer-attribution-link-hover-color: var(--slate-900);

  /* Fonts */
  --font-family-body: "Outfit", sans-serif;

  --font-size-base: 15px;
  --font-size-h2: 1.35rem;
  --font-size-text: 0.9rem;

  --font-weight-regular: 400;
  --font-weight-bold: 700;
}
*:before,
*:after,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font-family: var(--font-family-body);
  font-size: var(--font-size-base);
}
.main-container {
  flex-grow: 1; /* Pushes footer to the bottom */

  /* Center the card horizontally and vertically*/
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.5rem;
  background-color: var(--main-bg);
}
.qr-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 24px; /* Adds space between items */

  width: 100%;
  max-width: 330px;
  padding: 1rem;
  padding-bottom: 2rem;

  text-align: center;
  background-color: var(--card-bg);
  border-radius: 12px;
  box-shadow: var(--card-shadow-color);
}
.qr-card__image {
  display: block;
  max-width: 100%;
  border-radius: 12px;
}
.qr-card__title {
  width: 20ch;
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-bold);
  color: var(--card-title-color);
}
.qr-card__text {
  width: 27ch;
  font-size: var(--font-size-text);
  line-height: 1.5;
  color: var(--card-text-color);
}
.footer {
  padding: 1rem;
  background-color: var(--footer-bg);
}
.footer__attribution {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  color: var(--footer-text-color);
}
.footer__attribution-link {
  text-decoration: none;
  color: var(--footer-text-color);
  transition: color 0.1s ease;
}
.footer__attribution-link:hover,
.footer__attribution-link:focus {
  color: var(--footer-attribution-link-hover-color);
}
/* Utilities */
.sr-only {
  /* Visually hides element but keeps it accesible for screen readers */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
