:root {
  /* Base colors: Main project palette*/
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);
  --white: hsl(0, 0%, 100%);

  /* Purpose colors: Used for specific elements */
  --clr-bg-body: var(--slate-300);

  --clr-bg-card: var(--white);
  --clr-card-title: var(--slate-900);
  --clr-card-text: var(--slate-500);

  --clr-attribution-link: var(--slate-500);
  --clr-attribution-link-hover: var(--slate-900);

  /* Fonts */
  --ff-primary: "Outfit", sans-serif;
}
*:before,
*:after,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* {
  outline: 1px solid red;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font-family: var(--ff-primary);
  background-color: var(--clr-bg-body);
}
.main-content {
  /* Pushes footer to the bottom */
  flex-grow: 1;

  /* Center the card horizontally and vertically*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.qr-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 24px; /* Adds space between items */

  width: 100%;
  max-width: 330px;
  padding: 1rem;
  padding-bottom: 2rem;

  text-align: center;
  background-color: var(--clr-bg-card);
  border-radius: 12px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
}
.qr-card__image {
  display: block;
  max-width: 100%;
  border-radius: 12px;
}
.qr-card__title {
  max-width: 18ch;
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--clr-card-title);
}
.qr-card__text {
  max-width: 25ch;
  font-size: 0.9rem;
  line-height: 1.5;
  color: var(--clr-card-text);
}
.footer {
  padding: 1rem;
}
.footer__attribution {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  color: var(--clr-attribution-link);
}
.footer__attribution a {
  color: var(--clr-attribution-link);
  transition: color 0.1s ease;
}
.footer__attribution a:hover,
.footer__attribution a:focus {
  color: var(--clr-attribution-link-hover);
}
/* Utilities */
.sr-only {
  /* Visually hides element but keeps it accesible for screen readers */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
