:root {
  /* Base colors: Main project palette*/
  --color-primary-navy: hsl(233, 47%, 7%);
  --color-primary-blue: hsl(244, 37%, 16%);
  --color-primary-purple: hsl(277, 64%, 61%);

  --color-neutral-white: hsl(0, 0%, 100%);
  --color-neutral-light-white: hsla(0, 0%, 100%, 0.6);
  --color-neutral-slightly-white: hsla(0, 0%, 100%, 0.75);

  --card-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);

  /* Fonts */
  --font-family-body: "Inter", sans-serif;
  --font-family-heading: "Lexend Deca", sans-serif;

  --font-size-body: 15px;
  --font-size-heading: 1.5rem;
  --font-size-text: 0.9rem;
  --font-size-stats-number: 1.1rem;
  --font-size-stats-label: 0.8rem;

  --font-weight-regular: 400;
  --font-weight-bold: 700;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
  background-color: var(--color-primary-navy);
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 1rem;
}

.card {
  width: 100%;
  max-width: 375px;
  background-color: var(--color-primary-blue);
  border-radius: 12px;
  box-shadow: var(--card-shadow);
  overflow: hidden;
}
.card__image {
  position: relative;
  background-color: var(--color-primary-purple);
}
.card__image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary-purple);
  mix-blend-mode: multiply;
  opacity: 0.8;
}
.card__image img {
  display: block;
  width: 100%;
  height: 240px;
  object-fit: cover;
  object-position: center;
  filter: grayscale(100%) contrast(120%);
}
.card__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 2.5rem 0;
  text-align: center;
}
.card__title {
  width: 15ch;
  font-size: var(--font-size-heading);
  color: var(--color-neutral-white);
}
.card__title strong {
  color: var(--color-primary-purple);
}
.card__text {
  width: 29ch;
  font-size: var(--font-size-text);
  line-height: 1.6;
  color: var(--color-neutral-slightly-white);
}
.card__stats {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 1rem 0;
}
.card__stats-number {
  font-size: var(--font-size-stats-number);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--color-neutral-white);
}
.card__stats-label {
  display: block;
  font-family: var(--font-family-heading);
  font-size: var(--font-size-stats-label);
  font-weight: var(--font-weight-regular);
  padding-top: 5px;
  color: var(--color-neutral-light-white);
}

.footer {
  padding: 1rem;
  text-align: center;
}
.footer__attribution {
  color: var(--color-neutral-light-white);
}
.footer__attribution-link {
  color: var(--color-neutral-light-white);
  text-decoration: none;
  cursor: pointer;
  transition: color 0.1s ease;
}
.footer__attribution-link:hover,
.footer__attribution-link:focus {
  color: var(--color-primary-purple);
}

@media (min-width: 64rem) {
  .card {
    display: flex;
    flex-direction: row-reverse;
    gap: 4rem;
    max-width: 800px;
  }
  .card__image {
    flex: 0 0 48%;
  }
  .card__image img {
    height: 100%;
    min-height: 300px;
  }
  .card__body {
    align-items: flex-start;
    gap: 18px;
    padding: 0;
    text-align: left;
  }
  .card__title {
    width: 20ch;
  }
  .card__text {
    width: 40ch;
  }
  .card__stats {
    flex-direction: row;
    gap: 2rem;
    padding-top: 1rem;
  }
}
