:root {
  /* Base colors: Main project palette*/
  --color-primary-navy: hsl(233, 47%, 7%);
  --color-primary-blue: hsl(244, 37%, 16%);
  --color-primary-purple: hsl(277, 64%, 61%);

  --color-neutral-white: hsl(0, 0%, 100%);
  --color-neutral-light-white: hsla(0, 0%, 100%, 0.6);
  --color-neutral-slightly-white: hsla(0, 0%, 100%, 0.75);

  --card-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
  --light-violet: hsl(277, 92%, 40%);
  --card-image-filter: var(--light-violet);

  /* Fonts */
  --ff-body: "Inter", sans-serif;
  --ff-heading: "Lexend Deca", sans-serif;

  --font-size-body: 15px;
  --font-size-heading: 1.5rem;
  --font-size-text: 0.9rem;
  --font-size-stats-number: 1.1rem;
  --font-size-stats-label: 0.8rem;

  --font-weight-regular: 400;
  --font-weight-bold: 700;
}
*:before,
*:after,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: var(--font-size-body);
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--ff-body);
  background-color: var(--color-primary-navy);
}
.main-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.card {
  width: 100%;
  max-width: 375px;

  background-color: var(--color-primary-blue);
  border-radius: 12px;
  box-shadow: var(--card-shadow);
  overflow: hidden;
}
.card__image img {
  display: block;
  width: 100%;
  object-fit: cover;
  filter: opacity(0.4) drop-shadow(0 0 0 var(--card-image-filter));
}
.card__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 2.5rem 0;
  text-align: center;
}
.card__title {
  width: 15ch;
  font-size: var(--font-size-heading);
  color: var(--color-neutral-white);
}
.card__title strong {
  color: var(--color-primary-purple);
}
.card__text {
  width: 29ch;
  font-size: var(--font-size-text);
  line-height: 1.6;
  color: var(--color-neutral-slightly-white);
}
.card__stats {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 1rem 0;
}
.card__stats-number {
  font-size: var(--font-size-stats-number);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--color-neutral-white);
}
.card__stats-label {
  display: block;
  font-family: var(--ff-heading);
  font-size: var(--font-size-stats-label);
  font-weight: 400;
  padding-top: 5px;
  color: var(--color-neutral-light-white);
}

.footer {
  padding: 1rem;
  text-align: center;
}
.footer__attribution {
  color: var(--color-neutral-light-white);
  text-align: center;
}
.footer__attribution a {
  color: var(--color-neutral-light-white);
  text-decoration: none;
  transition: color 0.1s ease;
}
.footer__attribution a:hover,
.footer__attribution a:focus {
  color: var(--color-primary-purple);
}

@media (min-width: 1024px) {
  .card {
    display: flex;
    flex-direction: row-reverse;
    gap: 4rem;
    width: 100%;
    max-width: 800px;
  }
  .card__body {
    align-items: flex-start;
    gap: 18px;
    padding: 0;
    padding-left: 3rem;
    text-align: left;
  }
  .card__title {
    width: 20ch;
  }
  .card__text {
    width: 40ch;
  }
  .card__stats {
    flex-direction: row;
    gap: 2rem;
    padding-top: 1rem;
  }
}
