:root {
  /* Base colors: Main project palette*/
  /* Primary colors */
  --navy-950: hsl(233, 47%, 7%);
  --blue-950: hsl(244, 37%, 16%);
  --purple-500: hsl(277, 64%, 61%);
  --light-violet: hsl(277, 92%, 40%);
  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
  --light-transparent-white: hsla(0, 0%, 100%, 0.6);

  /* Purpose colors: Used for specific elements */
  --body-bg: var(--navy-950);
  --card-bg: var(--blue-950);
  --accent-color: var(--purple-500);
  --card-title-color: var(--white);
  --card-text-color: var(--slightly-transparent-white);
  --card-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);

  --stats-label-color: var(--light-transparent-white);
  --stats-number-color: var(--white);

  --footer-attribution-text-color: var(--light-transparent-white);
  --footer-attribution-link-hover-color: var(--purple-500);

  --card-image-filter: var(--light-violet);

  /* Fonts */
  --ff-body: "Inter", sans-serif;
  --ff-heading: "Lexend Deca", sans-serif;

  --font-size-body: 15px;
  --font-size-heading: 1.7rem;
  --font-size-text: 1.1rem;
  --font-size-stats-number: 1.1rem;
  --font-size-stats-label: 0.9rem;

  --font-weight-regular: 400;
  --font-weight-bold: 700;
}
*:before,
*:after,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: var(--font-size-body);
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--ff-body);
  background-color: var(--body-bg);
}
main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.card {
  width: 100%;
  max-width: 375px;

  background-color: var(--card-bg);
  border-radius: 12px;
  box-shadow: var(--card-shadow);
  overflow: hidden;
}
.card__image img {
  display: block;
  width: 100%;
  object-fit: cover;
  filter: opacity(0.4) drop-shadow(0 0 0 var(--card-image-filter));
}
.card__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 3rem 0;
  text-align: center;
}
.card__title {
  width: 15ch;
  font-size: var(--font-size-heading);
  color: var(--card-title-color);
}
.card__title strong {
  color: var(--accent-color);
}
.card__text {
  width: 27ch;
  font-size: var(--font-size-text);
  line-height: 1.6;
  color: var(--card-text-color);
}
.card__stats {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: var(--font-size-stats-number);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--stats-number-color);
}
.card__stats-label {
  display: block;
  font-family: var(--ff-heading);
  font-size: var(--font-size-stats-label);
  font-weight: 400;
  padding-top: 5px;
  color: var(--stats-label-color);
}

.footer {
  padding: 1rem;
  text-align: center;
}
.footer__attribution {
  color: var(--footer-attribution-text-color);
  text-align: center;
}
.footer__attribution a {
  color: var(--footer-attribution-text-color);
  text-decoration: none;
  transition: color 0.1s ease;
}
.footer__attribution a:hover,
.footer__attribution a:focus {
  color: var(--footer-attribution-link-hover-color);
}

@media (min-width: 1024px) {
  .card {
    display: flex;
    flex-direction: row-reverse;
    gap: 2rem;
    width: 100%;
    max-width: 980px;
  }
  .card__body {
    align-items: flex-start;
    gap: 20px;
    padding: 0;
    text-align: left;
  }
  .card__title {
    width: 18ch;
  }
  .card__text {
    width: 40ch;
  }
  .card__stats {
    flex-direction: row;
    gap: 2rem;
    padding-top: 2rem;
  }
}
