:root {
  /* Colors */
  --color-primary-very-dark-magenta: hsl(300, 43%, 22%);
  --color-primary-soft-pink: hsl(333, 80%, 67%);

  --color-neutral-white: hsl(0, 0%, 100%);
  --color-neutral-light-grayish-magenta: hsl(300, 24%, 96%);
  --color-neutral-dark-grayish-magenta: hsl(303, 10%, 53%);

  /* Fonts */
  --ff-body: "Spartan", sans-serif;

  --font-size-body: 15px;

  --font-size-primary: clamp(2rem, 2.5vw, 3rem);
  --font-size-secondary: clamp(0.8rem, 1.5vw, 1rem);

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: var(--font-size-body);
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font-family: var(--ff-body);

  background-image: url(../assets/bg-patterns/bg-pattern-top-mobile.svg),
    url(../assets/bg-patterns/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: right top, left bottom;
  background-color: var(--color-neutral-white);
}

/* Intro section with intro container*/
.intro-section {
  padding: 1rem;
}

/* Intro container with text content and rates */
.intro__container {
  padding: 3rem 0;
}
.intro__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 2rem;
  text-align: center;
  color: var(--color-primary-very-dark-magenta);
}
.intro__title {
  width: 11ch;
  font-size: var(--font-size-primary);
  font-weight: var(--font-weight-bold);
  line-height: 1.1;
}
.intro__text {
  width: 28ch;
  font-size: var(--font-size-secondary);
  line-height: 1.5;
}

/* Rates section with stars and text puntuation*/
.rates-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.rates__item {
  width: 100%;
  padding: 0.7rem 0;
  text-align: center;
  background-color: var(--color-neutral-light-grayish-magenta);
  border-radius: 5px;
  box-shadow: 1px 4px 3px 0 rgba(0, 0, 0, 0.2);
}
.rates__stars {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 0.8rem;
}
.rates__text {
  font-size: var(--font-size-secondary);
  font-weight: var(--font-weight-bold);
  text-align: center;
  color: var(--color-primary-very-dark-magenta);
}

/* Testimonials section with cards */
.testimonials__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 2rem 0;
}
.card {
  padding: 1.5rem;
  background-color: var(--color-primary-very-dark-magenta);
  color: var(--color-neutral-white);
  border-radius: 10px;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.2);
}
.card__header {
  display: flex;
  align-items: center;
  gap: 15px;
}
.card__photo img {
  display: block;
  width: 40px;
  border-radius: 50%;
}
.card__customer-name {
  margin-bottom: 0.3rem;
  font-size: var(--font-size-secondary);
  color: var(--color-neutral-light-grayish-magenta);
}
.card__customer-title {
  font-size: var(--font-size-secondary);
  color: var(--color-primary-soft-pink);
}
.card__quote {
  width: 24ch;
  margin-top: 1.5rem;
  font-size: var(--font-size-secondary);
  text-align: left;
  color: var(--color-neutral-light-grayish-magenta);
  line-height: 1.7;
}

/* Footer */
.footer {
  padding: 1rem;
  text-align: center;
  color: var(--color-primary-very-dark-magenta);
}
.footer__attribution a {
  text-decoration: none;
  color: var(--color-primary-very-dark-magenta);
  transition: color 0.1s ease;
}
.footer__attribution a:hover,
.footer__attribution a:focus {
  color: var(--color-primary-soft-pink);
}

/* Media queries */
@media (min-width: 768px) {
  body {
    background-image: url(../assets/bg-patterns/bg-pattern-top-desktop.svg),
      url(../assets/bg-patterns/bg-pattern-bottom-desktop.svg);
    background-position: left top, right bottom;
  }
  .intro-section {
    padding: 2rem;
  }
  .intro__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .intro__content {
    align-items: flex-start;
    text-align: left;
  }

  /* Puntuation Stars with comment*/
  .rates-container {
    align-items: flex-end;
    max-width: 500px;
  }
  .rates__item {
    display: flex;
    gap: 30px;
    padding: 1rem;
  }
  .rates__stars {
    gap: 10px;
    margin-bottom: 0;
  }
  .rates__text {
    text-align: left;
  }

  /* Testimonials cards */
  .testimonials__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
  }
  .card {
    max-width: 380px;
    padding: 3rem 2rem;
  }
}
@media (min-width: 1280px) {
  .intro-section {
    max-width: 1280px;
    margin: auto;
  }
  .intro-container {
    justify-content: space-between;
  }
  .intro__text {
    width: 40ch;
  }
  /* Rates puntuation */
  .rates__item:nth-child(1) {
    margin-right: 10rem;
  }
  .rates__item:nth-child(2) {
    margin-right: 5rem;
  }
  /* Testimonial cards */
  .card:nth-child(2) {
    margin-top: 2rem;
  }
  .card:nth-child(3) {
    margin-top: 4rem;
  }
  .card__quote {
    width: 26ch;
  }
}
