:root {
  --red-400: hsl(0, 100%, 74%);
  --green-400: hsl(154, 59%, 51%);
  --clr-accent: hsl(248, 32%, 49%);
  --gray-900: hsl(249, 10%, 26%);
  --purple-350: hsl(246, 25%, 77%);

  --light-grayish-blue: hsl(246, 25%, 90%);
  --white: hsl(0, 0%, 100%);

  /* Fonts */
  --ff-body: "Poppins", sans-serif;

  --fs-sm: clamp(0.75rem, 0.7rem + 0.25vw, 0.875rem);
  --fs-md: clamp(0.875rem, 0.8rem + 0.375vw, 1rem);
  --fs-lg: clamp(1.25rem, 1.15rem + 0.5vw, 1.5rem);

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  /* Spacings */
  --spacing-xs: clamp(0.65rem, 0.66rem + 0.23vw, 0.75rem);
  --spacing-sm: clamp(0.75rem, 0.69rem + 0.28vw, 0.88rem);
  --spacing-md: clamp(0.8rem, 0.73rem + 0.33vw, 0.94rem);
  --spacing-lg: clamp(1.35rem, 1.15rem + 0.95vw, 1.75rem);

  /* Gaps */
  --gap-xs: clamp(0.65rem, 0.66rem + 0.23vw, 0.75rem);
  --gap-sm: clamp(0.75rem, 0.69rem + 0.28vw, 0.88rem);
  --gap-md: clamp(0.8rem, 0.73rem + 0.33vw, 0.94rem);
  --gap-lg: clamp(1.35rem, 1.15rem + 0.95vw, 1.75rem);

  /* Border Radius */
  --border-radius-sm: 8px;
  --border-radius-md: 10px;

  /* Shadows */
  --shadow-subtle: 0 0 10px rgba(0, 0, 0, 0.2);
  --shadow-medium: 0 4px 6px rgba(0, 0, 0, 0.15);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font-family: var(--ff-body);
  font-weight: var(--fw-regular);
  color: var(--white);

  background-color: var(--red-400);
  background-image: url("../assets/bg-intro-mobile.png");
  background-repeat: no-repeat;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
/* Intro component */
.grid__container {
  display: grid;
  place-items: center;
}

.intro__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-lg);
  text-align: center;
}
.intro__title {
  font-size: var(--fs-lg);
  line-height: 1.2;
}
.intro__text {
  font-size: var(--fs-md);
  color: var(--light-grayish-blue);
  line-height: 1.5;
}
/* Form */
.form__fieldset {
  padding: var(--spacing-lg);
  border: none;
}
.form__legend {
  padding: var(--spacing-sm);

  font-size: var(--fs-md);
  text-align: center;
  line-height: 1.4;

  background-color: var(--clr-accent);
  border-radius: var(--border-radius-md);
  box-shadow: var(--shadow-subtle);
}
.form__legend strong {
  font-weight: var(--fw-bold);
}
.form__group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-lg);

  padding: var(--spacing-lg);
  background-color: var(--white);
  border-radius: var(--border-radius-sm);
  box-shadow: var(--shadow-subtle);
}
.input__container {
  width: 100%;
}
.input__container input {
  width: 100%;
  padding: var(--spacing-md);
  border-radius: var(--border-radius-sm);
  border: 1px solid var(--light-grayish-blue);
}
.input__container.border__success input {
  border-color: var(--green-400);
}
.input__container.border__error input {
  border-color: var(--red-400);
  color: var(--red-400);
  position: relative;
}
.input__container .error__message {
  padding: 1rem 0;
  font-size: var(--fs-sm);
  font-style: italic;
  text-align: right;
  color: var(--red-400);
}
.error__icon {
  position: absolute;
  width: 24px;
  height: 24px;
  transform: translate(-153%, 45%);
  opacity: 0;
}
.btn-submit {
  width: 100%;
  padding: var(--spacing-md);
  text-transform: uppercase;
  color: var(--white);
  border: none;
  background-color: var(--green-400);
  border-radius: var(--border-radius-sm);
  box-shadow: 0 5px 0 var(--green-400);
  cursor: pointer;
  transition: 0.2s ease;
}
.btn-submit:hover,
.btn-submit:focus-visible {
  opacity: 0.6;
}
.form__agreement {
  font-size: var(--fs-sm);
  text-align: center;
  line-height: 1.6;
  color: var(--purple-350);
}
.form__agreement strong {
  color: var(--red-400);
}
/* Footer with attributions */
.footer {
  padding: var(--spacing-lg);
  text-align: center;
}
.footer__attribution-link {
  text-decoration: none;
  color: var(--white);
  transition: color 0.1s ease;
}
.footer__attribution-link:hover,
.footer__attribution-link:focus-visible {
  color: var(--gray-900);
}

/* Media queries */
@media (min-width: 768px) {
  body {
    background-image: url("../assets/bg-intro-desktop.png");
  }
  .grid__container {
    grid-template-columns: repeat(2, 1fr);
    padding: var(--spacing-lg);
  }
}
