:root {
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);

  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  --transparency-red: hsla(0, 100%, 67%, 0.1);
  --transparency-yellow: hsla(39, 100%, 56%, 0.1);
  --transparency-teal: hsla(166, 100%, 37%, 0.1);
  --transparency-blue: hsla(234, 85%, 45%, 0.1);

  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
  --light-gray-blue: hsl(224, 30%, 35%);
}
@font-face {
  font-family: "sans serif";
  src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf")
    format("truetype");
  font-style: normal;
  font-weight: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 1440px;
  margin: auto;
  font-family: "Hanken Grotesk", sans-serif;
  background-color: var(--pale-blue);
}
.container {
  background-color: var(--white);
  box-shadow: 0px 6px 20px 5px var(--light-lavender);
}
/************************
  RESULT
/************************/
.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 400px;
  padding: 1.5rem 0;
  background-image: linear-gradient(
    var(--light-slate-blue),
    var(--light-royal-blue)
  );
  color: var(--white);
  border-bottom-left-radius: 38px;
  border-bottom-right-radius: 38px;
}
.result__title {
  font-size: 20px;
  color: var(--light-lavender);
}
.result__number {
  width: 170px;
  padding: 2rem;
  font-size: 64px;
  text-align: center;
  background-image: linear-gradient(var(--violet-blue), var(--persian-blue));

  color: var(--white);
  border-radius: 50%;
}
.result__number span:nth-child(2) {
  display: block;
  font-size: 15px;
  color: var(--light-lavender);
}
.result__description {
  width: 260px;
  text-align: center;
  color: var(--light-lavender);
  line-height: 1.5;
}
/************************
  SUMMARY 
/************************/
.summary {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--white);
}
.summary__title {
  align-self: flex-start;
  padding-bottom: 2rem;
  font-size: 18px;
}
.score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85vw;
  max-width: 460px;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 12px;
}
.score:first-child {
  background-color: var(--transparency-red);
  color: var(--light-red);
}
.score:nth-child(2) {
  background-color: var(--transparency-yellow);
  color: var(--orangey-yellow);
}
.score:nth-child(3) {
  background-color: var(--transparency-teal);
  color: var(--green-teal);
}
.score:last-child {
  background-color: var(--transparency-blue);
  color: var(--cobalt-blue);
}
.score > div {
  display: flex;
  justify-content: space-around;
}
.score-category {
  padding-left: 0.5rem;
}
.score-bold {
  font-weight: bold;
  color: var(--dark-gray-blue);
}
.score-light {
  color: var(--light-gray-blue);
}
.btn__continue {
  width: 85vw;
  max-width: 460px;
  padding: 1rem 2rem;
  margin: auto;
  text-decoration: none;
  text-align: center;
  background-color: var(--dark-gray-blue);
  color: var(--pale-blue);
  border-radius: 24px;
}
.btn__continue:hover,
.btn__continue:focus-visible {
  background-color: var(--cobalt-blue);
}
/************************
  FOOTER
/************************/
.footer {
  margin-top: auto;
  padding: 6rem 2rem 2rem;
  text-align: center;
  color: var(--dark-gray-blue);
}
.footer__attribution a {
  text-decoration: none;
  color: var(--dark-gray-blue);
  transition: color 0.1s ease;
}
.footer__attribution a:hover,
.footer__attribution a:focus-visible {
  color: var(--light-royal-blue);
}

/************************
  MEDIA QUERIES 768px
/************************/
@media screen and (min-width: 768px) {
  main {
    display: grid;
    place-content: center;
    height: 100vh;
  }
  .container {
    display: flex;
    max-width: 900px;
    border-radius: 24px;
    border-bottom-left-radius: 38px;
    border-top-left-radius: 38px;
  }
  .result {
    width: 35vw;
    max-width: 400px;
    height: 480px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
  }
  .result__description {
    width: 230px;
  }
  .summary {
    width: 35vw;
    max-width: 500px;
    height: 480px;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
  }
  .score {
    width: 30vw;
  }
  .btn__continue {
    width: 30vw;
  }
}
