:root {
  /* Colors */
  --color-primary-blue: hsl(223, 87%, 63%);
  --color-secondary-blue: hsl(223, 100%, 88%);
  --color-secondary-red: hsl(354, 100%, 66%);

  --color-neutral-gray: hsl(0, 0%, 59%);
  --color-neutral-blue: hsl(209, 33%, 12%);
  --color-neutral-white: hsl(0, 0%, 100%);

  /* Fonts */
  --font-family: "Libre Franklin", sans-serif;
  --font-size-base: 20px;

  --font-size-heading: clamp(1.2rem, 4vw, 1.7rem);
  --font-size-text: clamp(0.8rem, 2.5vw, 0.9rem);

  --font-weight-light: 300;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Utilities for email label*/
.sr-only {
  /* Visually hides element but keeps it accesible for screen readers */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font-family: var(--font-family);
  font-size: var(--font-size-base);
}
.main-content {
  flex-grow: 1;
}
/* Header with logo */
.header {
  padding: 2.5rem 0 1rem;
  text-align: center;
}
.header__logo {
  width: 65px;
}

/* Intro section with form input email and dashboard image*/
.intro-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}
.intro-section__title {
  font-size: var(--font-size-heading);
  font-weight: var(--font-weight-light);
  color: var(--color-neutral-gray);
}
.intro-section__title--emphasis {
  font-size: var(--font-size-heading);
  font-weight: var(--font-weight-bold);
  color: var(--color-neutral-blue);
}
.intro-section__text {
  font-size: var(--font-size-text);
  color: var(--color-neutral-blue);
}
/* Email form subscription with js validation */
.subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  height: 140px;
  max-width: 300px;
  margin-top: 1.5rem;
}
.subscribe-form__input-group {
  width: 100%;
}
.subscribe-form__input {
  width: 100%;
  padding: 0.5rem;
  text-indent: 10px;
  border: 1px solid var(--color-secondary-blue);
  border-radius: 24px;
}
.subscribe-form__input::placeholder {
  font-size: var(--font-size-text);
  text-indent: 10px;
  color: var(--color-neutral-gray);
}
.subscribe-form__button {
  padding: 0.5rem;
  border: none;
  border-radius: 24px;
  font-size: 0.8rem;
  color: var(--color-neutral-white);
  background-color: var(--color-primary-blue);
  transition: opacity 0.3s ease;
}
.subscribe-form__button:hover {
  opacity: 0.6;
  cursor: pointer;
}
/* Classes for email input validation with JavaScript */
.subscribe-form__error-message {
  margin-top: 0.5rem;
  font-size: 0.6rem;
  text-align: center;
  color: var(--color-secondary-red);
}
/* error state */
.subscribe-form__input.error-state {
  border: 1px solid var(--color-secondary-red);
}
/* valid state */
.subscribe-form__input.valid-state {
  border: 1px solid green;
}
.subscribe-form__error-message.valid-state {
  color: green;
}
.subscribe-form__button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
  box-shadow: none;
}
/* Main dashboard image */
.dashboard-image {
  width: 300px;
  margin-bottom: 4rem;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.15);
}
.dashboard-image__img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/* Footer with social media links and attribution */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
.social-links {
  list-style: none;
  display: flex;
  gap: 10px;
  margin-bottom: 1.5rem;
}
.social-links__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid var(--color-secondary-blue);
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}
.social-links__icon {
  width: 24px;
  height: 24px;
  fill: var(--color-primary-blue);
  transition: fill 0.3s ease-in-out;
}
.social-links__link:hover {
  border: 1px solid var(--color-primary-blue);
  background-color: var(--color-primary-blue);
}
.social-links__link:hover .social-links__icon {
  fill: var(--color-neutral-white);
}
.footer__attribution {
  color: var(--color-neutral-gray);
}

/* Media queries */
@media (min-width: 48rem) {
  .intro-section {
    margin-bottom: 4rem;
  }
  .subscribe-form {
    flex-direction: row;
    max-width: 600px;
    height: 115px;
  }
  .subscribe-form__input {
    padding: 0.8rem;
  }
  .subscribe-form__button {
    align-self: flex-start;
    width: 200px;
    padding: 0.8rem;
  }
  .subscribe-form__error-message {
    font-size: 0.8rem;
    text-align: left;
    text-indent: 25px;
  }

  .dashboard-image {
    width: 680px;
  }
}
