:root {
  --primary-purple: hsl(257, 40%, 49%);
  --primary-magenta: hsl(300, 69%, 71%);
  --neutral-white: hsl(0, 0%, 100%);

  --ff-base: "Open Sans", sans-serif;
  --ff-heading: "Poppins", sans-serif;
  --fw-regular: 400;
  --fw-semibold: 600;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font-family: var(--ff-base);

  background-color: var(--primary-purple);
  background-image: url("../assets/images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.header {
  padding: 2rem;
}
.header__logo {
  width: 130px;
  max-width: 100%;
  height: auto;
}

/* Introductory Section with image and text content */
.intro-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 2rem 0;
  text-align: center;
}
.intro__image {
  display: block;
  width: 300px;
  max-width: 100%;
  height: auto;
}

.intro__content {
  padding: 2rem 0;
  color: var(--neutral-white);
  line-height: 1.5;
}
.intro__title {
  width: 19ch;
  font-family: var(--ff-heading);
  font-weight: var(--fw-semibold);
}
.intro__description {
  max-width: 33ch;
  font-weight: var(--fw-regular);
  margin: 1.5rem 0;
}
.intro__button {
  display: inline-block;
  width: 170px;
  padding: 0.5rem;
  border-radius: 24px;
  text-decoration: none;
  text-align: center;
  color: var(--primary-purple);
  background-color: var(--neutral-white);
  box-shadow: 4px 5px 8px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}
.intro__button:hover,
.intro__button:focus {
  background-color: var(--primary-magenta);
  color: var(--neutral-white);
}

/* Footer with social media menu nav */
.footer {
  padding: 2rem;
}

.social-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.social-menu li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  padding: 0.2rem;
  border: 1px solid var(--neutral-white);
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}
.social-menu svg {
  width: 25px;
  height: 25px;
  fill: var(--neutral-white);
  transition: fill 0.2s ease-in-out;
}
.social-menu li a:hover {
  border: 1px solid var(--primary-magenta);
}
.social-menu a:hover svg {
  fill: var(--primary-magenta);
}
@media (min-width: 48rem) {
  .intro__image {
    width: 70%;
  }
  .intro__title {
    font-size: 2.5rem;
  }
  .intro__description {
    max-width: 54ch;
  }
}
@media (min-width: 64rem) {
  body {
    background-image: url("../assets/images/bg-desktop.svg");
    background-position: left center;
    max-width: 1280px;
    margin: 0 auto;
  }
  .header {
    padding: 2rem 4rem;
  }
  .main-container {
    padding: 0 4rem;
  }
  .intro-section {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
  }
  .intro__image {
    width: 50%;
  }
  .intro__content {
    padding: 0;
  }
  .intro__description {
    margin: 1rem 0;
  }
  .footer {
    padding: 1rem 4rem;
  }
  .social-menu {
    justify-content: end;
  }
}
